body
{
    #viewAbout
    {
        #back:hover
        {
            filter: invert(100%);
        }

        #back
        {
            transition: 0.15s;
            background: url("../img/back.png");
            position: absolute;
            left: 100px;
            top: 2200px;
            
            margin: auto;
            outline: 0px;
            border: 0px;
            width: 82px;
            height: 82px;
        }
    }

    #menu
    {
        #about
        {
            background: url("../img/about.png");
            width: 167px;
            height: 60px;
            left: 700px;
        }

        #play
        {
            background: url("../img/play.png");
            width: 199px;
            height: 73px;
            left: 500px;
        }

        button:hover
        {
            filter: invert(100%);
        }

        button
        {
            position: absolute;
            top: 1300px;
            margin: auto;
            transition: 0.15s;
            outline: 0px;
            border: 0px;
        }
    }

    div
    {
        img
        {
            max-width: 100%;
        }
    }

    overflow: hidden;
}
