#balloonGame {
    width: 100%;
    height: 100%;
    font-family: "Carnival Centenary";
    background-image: url("../assets/img/balloons/balBackground.png");
    background-size: cover;
    position: fixed;
}

.balScoreBackground {
    width: 100%;
    height: 100%;
    background-image: url("../assets/img/balloons/balScoreBackground.png");
    background-size: cover;
    position: fixed;
}

.balloon {
    position: absolute;
    bottom: -600px;
}

.hidden {
    visibility: hidden;
}

#theBalloon {
    position: absolute;
    bottom: -300px;
}

#balloonsScore {
    display: flex;
    justify-content: flex-end;
    padding: 0 2%;
    height: 0;
    font-size: 1.5rem;
    color: #e83e55;
    text-shadow: 2px 2px 0 #94528f;
}

#balloonsScore p {
    margin: 0;
    font-size: 150%;
}

#toScore {
    position: fixed;
}

#toGame {
    position: absolute;
}

@keyframes fadeInOut {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeOutIn {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

#balloonGame.animationIn {
    animation-name: fadeInOut;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

#balloonGame.animationOut {
    animation-name: fadeOutIn;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

#balloonsScoreSection {
    display: none;
}

#balloonsScoreSection.animationIn {
    animation-name: fadeInOut;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

#balloonsScoreSection.animationOut {
    animation-name: fadeOutIn;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

#balFinalScore {
    margin: 22% 63%;
    display: flex;
    position: fixed;
    color: white;
    font-family: "Carnival Centenary";
    text-shadow: 2px 2px 0 rgb(122, 89, 23);
    font-size: 600%;
}
