/* line 1, ../sass/index.scss */
body {
  overflow: hidden;
}
/* line 5, ../sass/index.scss */
body #viewAbout #back:hover {
  filter: invert(100%);
}
/* line 10, ../sass/index.scss */
body #viewAbout #back {
  transition: 0.15s;
  background: url("../img/back.png");
  position: absolute;
  left: 100px;
  top: 2200px;
  margin: auto;
  outline: 0px;
  border: 0px;
  width: 82px;
  height: 82px;
}
/* line 28, ../sass/index.scss */
body #menu #about {
  background: url("../img/about.png");
  width: 167px;
  height: 60px;
  left: 700px;
}
/* line 36, ../sass/index.scss */
body #menu #play {
  background: url("../img/play.png");
  width: 199px;
  height: 73px;
  left: 500px;
}
/* line 44, ../sass/index.scss */
body #menu button:hover {
  filter: invert(100%);
}
/* line 49, ../sass/index.scss */
body #menu button {
  position: absolute;
  top: 1300px;
  margin: auto;
  transition: 0.15s;
  outline: 0px;
  border: 0px;
}
/* line 62, ../sass/index.scss */
body div img {
  max-width: 100%;
}
